[Unit]
Description=ams-han-mqtt

[Service]
Type=simple
WorkingDirectory=/srv/ams-han-mqtt/
ExecStart=/srv/ams-han-mqtt/ams-han-mqtt -a /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A907T1PY-if00-port0 -p E
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
